.button {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 900;
  color: white;
  border-radius: 30px;
  background-color: rgba(238, 238, 238, 0.447);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.66);
  box-shadow: 0 0 30px rgba(94, 94, 94, 0.26);
  margin: 0px 0px 0px 420px;
}

.button:hover {
  background-color: #FF0000;

}
